main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: lightslategray;
}

.wordbox {
    text-align: center;
    border: solid white;
    margin: 3px;
}

.wordbox:hover {
    background-color: #5BCBE3;
    color: white;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

button:hover {
    background-color: #5BCBE3;
    color: white;
}