<html>
    <head>
        <link rel="stylesheet" href="/static/wordstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    </head>
    <body style="margin: 0">
        {% block navbar %}
        <nav style="color: white; background-color: #5BCBE3; padding-left: 5%; margin: auto; padding: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">
            <h1>Word List Program for Ben Wiley's CSCI 4131 Project</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        <footer style="height: 5%; background-color: #5BCBE3; text-align: center;">
            <p style="padding: 3%;"><a href="https://github.com/BenWileyUMN/word-list-heroku" style="text-decoration: none; color: white;">Click here to go to GitHub repository</a></p>
        </footer>
    </body>
</html>