{% extends "base.html" %}
{% from "_formhelpers.html" import render_modal %}
{% block content %}
<header>
    <link rel="stylesheet" href="/static/wordstyle.css">
    <script type="text/javascript">
        async function getDefinition(word) {
            const apiKey = "{{apiKey}}"
            const response = await fetch(`https://www.dictionaryapi.com/api/v3/references/learners/json/${word}?key=${apiKey}`);
            const response_json = await response.json();
            
            var replaceInnerHtmlElement = document.getElementById(`modal-body-${word}`).innerHTML;

            if (response_json[0]['shortdef']) {
                var htmlString = "<ul>";
                for (var i = 0; i < response_json[0]['shortdef'].length; i++) {
                    htmlString += `<li>${response_json[0]['shortdef'][i]}</li>`;
                }
                htmlString += "</ul>";
                document.getElementById(`modal-body-${word}`).innerHTML = htmlString;
            } else {
                htmlString = "Could not find a word in the dictionary, but here are some similar words found...\n <ul>";
                for (var i = 0; i < response_json.length; i++) {
                    htmlString += `<li>${response_json[i]}</li>`;
                }
                htmlString += "</ul>";
                document.getElementById(`modal-body-${word}`).innerHTML = htmlString;
            }
        }
    </script>
</header>
<main>
    {% for word in wordlist: %}
        <!-- <div class="wordbox" onclick="getDefinition('{{word}}|safe')">{{ word }}</div> -->
        <button class="wordbox" data-toggle="modal" data-target="#definition_{{word}}" onclick=getDefinition("{{word}}")>{{word}}</button>
        {{render_modal(word)}}
    {% endfor %}
</main>
{% endblock %}
